PORT=3001
FRONTEND_URL=http://localhost:5173

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=troque_esta_senha
DB_DATABASE=femanic_co

# Opcional: necessário somente para executar `npm run bot`.
TELEGRAM_BOT_TOKEN=8011590263:AAF_PR98LLUmYNBfvAYgpwtM8OFy7w9oa3A

